extends src/jade/template
include src/jade/mixins
block title
  title Page 
block content
  header
    .bar-mobile
      span.top
      span.middle
      span.bottom
    .header
      .logo // Muzium ///
      nav
        ul
          li
            a(href="#") курсы
          li
            a(href="#") лекторы
          li
            a(href="#") Рецензии
          li
            a(href="#") Интервью
          li
            a(href="#") видеоблог
          li
            a(href="#") треклисты
          li
            a(href="#") трико
          li
            a(href="#") разное
          li
            a(href="#") о проекте
          li
            .search

  #owl-carousel
    .info-mob(style="background: url(src/img/slide-1.jpg)")
      .wrap
        p.review Рецензия
        h2.hed «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        p.desc Два фильма о музыке
        .autor
          img.user-pic(src="src/img/user-img.png", alt="")
          span Артем Мозговой
    .info-mob(style="background: url(src/img/slide-1.jpg)")
      .wrap
        p.review Рецензия
        h2.hed «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        p.desc Два фильма о музыке
        .autor
          img.user-pic(src="src/img/user-img.png", alt="")
          span Артем Мозговой
    .info-mob(style="background: url(src/img/slide-1.jpg)")
      .wrap
        p.review Рецензия
        h2.hed «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        p.desc Два фильма о музыке
        .autor
          img.user-pic(src="src/img/user-img.png", alt="")
          span Артем Мозговой
          
  .stage
    .over-left
    .hdi
      .over-right
    #SLDE-ONE.sldr.slider
      ul.wrp.animate
        li.elmnt-one
          .info
            p.review Рецензия
            h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
            p.desc Два фильма о музыке
            .autor
              img.user-pic(src="src/img/user-img.png", alt="")
              span Артем Мозговой
          .skew
            .wrap
              img(src="src/img/slide-1.jpg", alt="")
        li.elmnt-two
          .info
            p.review Рецензия
            h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
            p.desc Два фильма о музыке
            .autor
              img.user-pic(src="src/img/user-img.png", alt="")
              span Артем Мозговой
          .skew
            .wrap
              img(src="src/img/slide-1.jpg", alt="")
        li.elmnt-three
          .info
            p.review Рецензия
            h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
            p.desc Два фильма о музыке
            .autor
              img.user-pic(src="src/img/user-img.png", alt="")
              span Артем Мозговой
          .skew
            .wrap
              img(src="src/img/slide-1.jpg", alt="")
        //- li.elmnt-four
        //-   .info
        //-     p.review Рецензия
        //-     h2 «Коко Шанель и Игорь<br> Стравинский», «Бег на месте»
        //-     p.desc Два фильма о музыке
        //-     .autor
        //-       img.user-pic(src="src/img/user-img.png", alt="")
        //-       span Артем Мозговой
        //-   .skew
        //-     .wrap
        //-       img(src="src/img/slide-1.jpg", alt="")

    .clear
    button.sldr-prv.sldr-nav.prev
    button.sldr-nxt.sldr-nav.next

    ul.selectors
      li.focalPoint
      li
      li
  .selector-bg

  .container.content
    .row
      .section-title
        h3 Популярное
      .media
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/popular-1.jpg", alt="")
            .information
              .crew
              p.date 12 Лекций
              h5.title Чайковский
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/popular-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/popular-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 14 октября 2016
              h5.title «Треклист “Другое пространство”
              p Прочь из зоны комфорта
              img.img-pic(src="src/img/icons/icon-list.png", alt="")

    .row.content-wrapper
      .section-title
        h3 Язык музыки
      .media
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-1.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 5 мая 2017
              h5.title Любители музыки
              p Фильмы Кена Рассела о музыке
              p.autor // Юрий Кудряшов
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 20 марта 2017
              h5.title Restless
              p Рецензия на запись Первой симфонии Эдуарда Элгара в исполнении Даниэля Баренбойма и Staatskapelle Berlin
              img.img-pic(src="src/img/icons/icon-cd.png", alt="")
              p.autor // Ярослав Тимофеев
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 25 февраля 2016
              h5.title «Коко Шанель и Игорь Стравинский», «Бег на месте»
              p Два фильма о музыке
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
    .row.content-wrapper
      .section-title
        h3 Курсы
      .media
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/course-1.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/popular-1.jpg", alt="")
            .information
              .crew
              p.date 5 Лекций
              h5.title Чайковский
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/course-3.jpg", alt="")
            .information
              .crew
              p.date 10 Лекций
              h5.title Брамс
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .section-button
          a.button Все курсы

    .row.content-wrapper
      .section-title
        h3 Трек листы
      .media
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-1.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 5 мая 2017
              h5.title Любители музыки
              p Фильмы Кена Рассела о музыке
              p.autor // Юрий Кудряшов
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 20 марта 2017
              h5.title Restless
              p Рецензия на запись Первой симфонии Эдуарда Элгара в исполнении Даниэля Баренбойма и Staatskapelle Berlin
              img.img-pic(src="src/img/icons/icon-cd.png", alt="")
              p.autor // Ярослав Тимофеев
        .col-sm-4
          .block-with-icon.item
            .image-src
              img(src="src/img/music-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 25 февраля 2016
              h5.title «Коко Шанель и Игорь Стравинский», «Бег на месте»
              p Два фильма о музыке
              img.img-pic(src="src/img/icons/icon-cinema.png", alt="")
    .row.content-wrapper
      .section-title
        h3 Курсы
      .media
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/course-1.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/popular-1.jpg", alt="")
            .information
              .crew
              p.date 5 Лекций
              h5.title Чайковский
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .col-sm-4
          .block-red.item
            .image-src
              img(src="src/img/course-3.jpg", alt="")
            .information
              .crew
              p.date 10 Лекций
              h5.title Брамс
              img.img-pic(src="src/img/user-img-2.png", alt="")
        .section-button
          a.button Все курсы

    .row.content-wrapper
      .section-title
        h3 Интервью
      .media
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/interview-1.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
      .media
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/popular-2.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
      .media
        .col-sm-4
          .block-blue.item
            .image-src
              img(src="src/img/interview-3.jpg", alt="")
            .information
              .crew.crew-reverse
              p.date 17 июня 2016
              h5.title «Классическая музыка конструирует время по собственным законам»
              p Интервью с музыкальным критиком Ярославом Тимофеевым
              p.autor // Мария Чалых
        .section-button
          a.button Все Интервью
    .row.content-wrapper
      .section-title
        h3 Треклисты
      .media
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/list-1.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/list-2.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .col-sm-4
          .block-red.item.white
            .image-src
              img(src="src/img/popular-3.jpg", alt="")
            .information
              .crew
              p.date 4 лекции
              h5.title Шопен
              img.img-pic(src="src/img/user-img-3.png", alt="")
        .section-button
          a.button Все треклисты


    .example
      //img(src="screenshot.png", alt="")









block vendor
  include src/jade/scripts-home
