@font-face {
    font-family: "Charter";
    src: url("../fonts/Charter/Charter.eot");
    src: url("../fonts/Charter/Charter.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Charter/Charter.woff") format("woff"),
    url("../fonts/Charter/Charter.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Merriweather-Regular";
    src: url("../fonts/Merriweather/Merriweather-Regular.eot");
    src: url("../fonts/Merriweather/Merriweather-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Regular.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Merriweather-Light";
    src: url("../fonts/Merriweather/Merriweather-Light.eot");
    src: url("../fonts/Merriweather/Merriweather-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Light.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Merriweather-Bold";
    src: url("../fonts/Merriweather/Merriweather-Bold.eot");
    src: url("../fonts/Merriweather/Merriweather-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Bold.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat/Montserrat-Light.eot");
    src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Arimo";
    src: url("../fonts/Arimo/Arimo-Regular.eot");
    src: url("../fonts/Arimo/Arimo-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arimo/Arimo-Regular.woff") format("woff"),
    url("../fonts/Arimo/Arimo-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Regular.eot");
    src: url("../fonts/Rubik/Rubik-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Rubik/Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Arimo-Bold";
    src: url("../fonts/Arimo/Arimo-Bold.eot");
    src: url("../fonts/Arimo/Arimo-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arimo/Arimo-Bold.woff") format("woff"),
    url("../fonts/Arimo/Arimo-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/Rubik/Rubik-Bold.eot");
    src: url("../fonts/Rubik/Rubik-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Rubik/Rubik-Bold.woff") format("woff"),
    url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Arimo-Italic";
    src: url("../fonts/Arimo/Arimo-Italic.eot");
    src: url("../fonts/Arimo/Arimo-Italic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arimo/Arimo-Italic.woff") format("woff"),
    url("../fonts/Arimo/Arimo-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rubik-Italic";
    src: url("../fonts/Rubik/Rubik-Italic.eot");
    src: url("../fonts/Rubik/Rubik-Italic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Rubik/Rubik-Italic.woff") format("woff"),
    url("../fonts/Rubik/Rubik-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Arimo-BoldItalic";
    src: url("../fonts/Arimo/Arimo-BoldItalic.eot");
    src: url("../fonts/Arimo/Arimo-BoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Arimo/Arimo-BoldItalic.woff") format("woff"),
    url("../fonts/Arimo/Arimo-BoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rubik-BoldItalic";
    src: url("../fonts/Rubik/Rubik-BoldItalic.eot");
    src: url("../fonts/Rubik/Rubik-BoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Rubik/Rubik-BoldItalic.woff") format("woff"),
    url("../fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}