@import mixins
@import media
@import bar-mobile
@import vars

header
  +m(1100)
    padding-left: 0!important
    padding-right: 0!important
  .bar-mobile
    z-index: 101
    position: absolute
    right: 40px
    +m(1100)
      display: inline-block
      width: 28px
      height: 17px
    +m(320)
      left: 250px
    span
      height: 2px
      .middle
        position: relative
        top: 10px
  .bar-mobile.inner
    span
      background: #000
  input[type="text"]
    font-size: 55px
    display: inline-block
    font-family: "Lato"
    font-weight: 100
    border: none
    outline: none
    color: #fff
    font-size: 1.6rem
    font-family: $rur
    height: 24px
    padding: 3px
    padding-right: 60px
    width: 0px
    position: absolute
    top: 0
    right: 0
    background: none
    z-index: 3
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000)
    cursor: pointer
    +m(1100)
      width: 100%!important
      top: 40px


  input[type="text"]:focus:hover
    border-bottom: 2px solid #fff

  input[type="text"].search-black:focus:hover
    border-bottom: 2px solid #333
    +m(1100)
      border-bottom: 2px solid #fff!important
  input[type="text"]
    display: none
    width: 790px
    border-bottom: 2px solid #fff
    right: 30px
    z-index: 1
    cursor: text
    color: #fff
    font-size: 1.6rem
    font-family: $rur
    opacity: .8
  input[type="text"].search-black
    border-bottom: 2px solid #333
    +m(1100)
      border-bottom: 2px solid #fff!important
  input.search-black[type="text"]
    color: #333
    +m(1100)
      color: #fff
  input[type="text"]::placeholder
    color: #fff
    +m(1100)
      color: #fff!important
  input.search-black[type="text"]::placeholder
    color: #333

  input[type="submit"]
    display: inline-block
    color: red
    float: right
    text-indent: -10000px
    border: none;
    position: absolute
    top: 0
    right: 0
    z-index: 2
    cursor: pointer
    opacity: 0.5
    cursor: pointer
    transition: opacity .4s ease
    +m(1100)
      display: inline-block
      position: relative
      left: -25px
      float: none

  input[type="submit"]:hover 
    opacity: 0.8
  .search
    width: 24px
    height: 24px
    background: url(../img/icons/search.svg)
    opacity: 0.62
    transition: all .3s ease
    border: none
    outline: none
    +m(1100)
      display: inline-block;
      position: relative
      right: 30px
    &:hover
      opacity: 1
    +pointer
  padding-top: 45px
  text-align: center
  .search.search-black
    background: url(../img/icons/search-black.png)
  +m(1100)
    padding-left: 40px
    padding-right: 40px
    text-align: left
  +absolute
  z-index: 100
  display: block
  width: 100%
  .header
    display: inline-block
    +m(1100)
      width: 100%
  .visibility-no
    +m(1100)
      visibility: visible!important
  .vis-high
    +mm(1100)
      visibility: hidden!important
  .logo
    +m(1044)
      float: none
      margin-bottom: 15px
    &:hover
      text-decoration: none
      color: #fff
    font-style: normal
    float: left
    max-width: 200px
    position: relative
    bottom: 4px
    font-family: $mor
    font-size: 2.1rem
    +uppercase
    color: #fff
    +m(1100)
      left: 45px
  nav
    .active
      padding-bottom: 7px
      border-bottom: 2px solid #333
    +m(1044)
      float: none
      position: relative
      bottom: 10px
    +m(1100)
      width: 100%
      background: rgba(0,0,0, .9)
      float: none
      +absolute
      top: 0px
      height: 100vh
      min-height: 560px
      padding-top: 50px
      z-index: 100
      text-align: center
    float: left
    +m(1101)
      display: none
    +mm(1101)
      display: block!important
    li
      +m(1100)
        float: none
        margin-bottom: 20px
      &:first-child
        margin-left: 10px
        +m(1100)
          margin-left: 0
      &:last-child
        position: relative
        left: 40px
      float: left
      padding-right: 26px
      +m(1120)
        padding-right: 15px
      &:last-child
        padding-right: 0

      a
        opacity: .62
        transition: all .3s ease
        color: #fff
        font-style: normal
        font-family: $mor
        font-weight: 700
        font-size: 1.2rem
        +uppercase
        &:hover
          opacity: 1
          color: #fff
          text-align: underline

header.inner
  position: relative
  margin-bottom: 50px
  nav li
    padding-right: 21px
header.inner .header a
  color: #000
header.inner .header li a
  +m(1100)
    color: #fff
header.inner .header .search
  +m(1100)
    background: url('../img/icons/search.svg')
.toggle-white
  background: #fff!important