@import mixins
@import media
@import bar-mobile
@import vars


// PAGE REVIEW-NOTE
.review-note
  h6
    font-family: $meb
    font-size: 4.2rem
    color: #333
  p.quote
    font-size: 2rem
    line-height: 28px
    font-family: $rur
    margin-top: 30px
  .autor-rev
    font-size: 1.4rem
    overflow: auto
    font-family: $arr
    padding: 25px 0 38px
    border-bottom: 1px solid #000
    margin-bottom: 41px
    img
      float: left
      margin-right: 16px
      position: relative
      bottom: 10px
    span
      margin: 0
      font-family: $arr
      font-size: 1.6rem
  .aside
    padding-right: 0
  .body p
    margin-bottom: 30px!important
  .media-img img
    width: 100%
  .section-button
    padding: 0 30px
    text-align: center
    height: auto
    img
      width: 30px
      height: 30px
      +absolute
      right: 15px
      bottom: 50%
      margin-bottom: -15px
    .button:nth-child(2)
      margin-top: 20px
    a
      display: inline-block
      width: 100%
      font-family: $rur
      font-size: 1.4rem
      &::after
        content: ""!important
  .blockquote
    text-align: center
    margin-top: 77px
    p
      font-size: 2.2rem
      font-family: $mob
      color: #333
      line-height: 24px
  blockquote
    font-size: 2rem
    line-height: 28px
    font-family: $rubi
  .video
    margin-top: 40px
    +mm(768)
      margin-top: 200px
    iframe
      width: 100%
    p
      font-size: 1.2rem
      padding-top: 10px
      font-family: $rui
    text-align: center