@import mixins
@import media
@import bar-mobile
@import vars


// PAGE REVIEW

.review
  .media
    margin-top: 20px
  .media-img img
    max-width: 100%
    +m(768)
      margin-bottom: 20px
  .media-img
    +m(768)
      text-align: center
  h4
    font-size: 3.6rem
    font-family: $mer
  .subtitle
    margin: 16px 0 18px
    font-size: 1.6rem
    font-family: $mob
    font-style: italic
  .desc
    max-height: 212px
    overflow: hidden
    position: relative
    &::after
      content: ""
      display: block
      +absolute
      bottom: 0
      left: 0
      width: 100%
      height: 50px
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 88%)
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 87%,rgba(255,255,255,1) 88%)
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 87%,rgba(255,255,255,1) 88%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
  p
    line-height: 21px
    font-size: 1.4rem
    font-family: $mer
    margin-bottom: 12px
  .section-title
    margin: 40px 0 32px
  .img-pic
    +absolute
    right: 0
    top: 0
  h6
    float: left