@import mixins
@import media
@import bar-mobile
@import vars

// Footer
footer
  height: 300px
  text-align: center
  margin-top: 110px
  min-width: 320px
  p.blog
    font-size: 1rem
  p.blog, p.partners
    font-family: $rur
    line-height: 12px
  p.partners
    font-size: 1.2rem
  ul
    padding-left: 0
  nav
    padding: 20px 20px 10px
    border-top: 2px solid #000
    border-bottom: 2px solid #000
    a
      color: #000
      font-family: $rur
      font-style: normal
      font-size: 1.2rem
      &:hover
        color: #000
    li
      padding-left: 25px
      +uppercase
      display: inline
      &:first-child
        padding-left: 0
  .logo
    font-family: $mor
    font-size: 2.1rem
    margin: 40px 0 10px
  .section-social
    font-family: $rur
    font-size: 1rem
    +uppercase
    img
      margin-top: 30px
    a
      padding-left: 50px
      &.first
        padding-left: 0
    .first-img
      padding-left: 0
  .section-partners
    margin-top: 30px
    font-family: $rur
    font-size: 1.2rem
    +uppercase
    img
      margin-top: 20px
      padding: 35px
    .filarmony
      position: relative
      top: 4px