@import mixins
@import media
@import bar-mobile
@import vars




.slider.inner
  min-width: 320px
  display: block
  text-align: left
  width: 100%
  background: url('../img/slide-1.jpg') no-repeat
  position: relative
  padding-bottom: 70px
  +cover
  margin-bottom: 80px
  h2
    clear: both
    margin-top: 30px
  .info
    z-index: 1
    left: -20px
    +m(1200)
      left: 0
  .line
    margin-top: 15px
    margin-bottom: 25px
    hr
      width: 150px
      float: left
      margin-right: 20px
    span
      font-family: $mob
      font-size: 2.2rem
      position: relative
      top: 8px
  .desc
    margin: 0
    clear: both
  &::after
    content: ""
    background: rgba(8, 81, 134, 0.7)
    width: 100%
    +absolute
    height: 100%
    left: 0
    top: 0
  &::before
    content: ""
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)
    width: 100%
    +absolute
    height: 100px
    left: 0
    top: 0
  padding-top: 300px
  color: #fff
  .info
    margin-top: 0
    position: relative
  .autor
    font-size: 1.4rem
    font-family: $mor
    span
      font-size: 1.6rem

    img
      float: left
      margin-right: 20px
      position: relative
      bottom: 8px
    span
      margin-left: 0
    .info
    margin-top: 0

.review-movie
  .owl-carousel
    img
      margin-bottom: 0!important
  .owl-stage-outer
    box-shadow: 10px 10px 18px -4px rgba(0,0,0,0.22)
  footer
    margin-top: 30px
  .body
    clear: both
    padding: 54px 0 74px
    img
      width: 100%
      margin-bottom: 55px
    p
      padding: 0 100px 20px
      +m(768)
        padding: 0 0 20px
    .iframe-wrapper
      position: relative
      width: 100%
      height: 0
      padding-bottom: 56%
      margin-top: 55px
      margin-bottom: 30px
    iframe
      +absolute
      width: 100%
      height: 100%
      left: 0
      top: 0

  .title
    img
      float: left
      margin-right: 58px
      +m(480)
        margin-bottom: 20px
  h3
    font-family: $arb
    font-size: 2.8rem
    line-height: 29px
  
